* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* change the main font? */
@font-face {
		font-family: 'Imposs'; 
		src: url('../imposs.woff') format('woff');
}

body {
	font-family: serif;
	background-image: url("../texture4.png");
	background-position: center;
	background-size: cover;
	background-color: hsl(82, 87%, 91%);
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container img {
	max-width: 300px;
	height: auto;
}

/* GET RID OF THE ABSOLUTE POSITIONING */
h1 {
	text-align: center;
	margin: 10px auto;
	position: relative;
	top: 30px;
	padding: 1%;
	font-family: 'Imposs';
	font-size: 20px;
	font-style: normal;
}

h2{
	font-family: 'Imposs';
	text-align: center;
	margin: 10px auto;
	position: relative;
	top: 5px;
	padding: 1%;
	font-size: 15px;
	text-decoration: none;
	font-weight: 10;
}

/* general formatting for all albums */

.album {
	padding: 15px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	transition: .2s;
	text-align: center;
	font-style: italic;
}
.album img {
	max-width: 320px;
	height: auto;
	padding: 10px;
}

.album:hover{
	scale: 1.02;
	cursor: pointer;
}

nav{
	display: flex;
	gap: 20px;
	flex-direction: row;
}

a{
	text-decoration: none;
	color: black;
	transition: scale .3s, rotate .4s;
	}

a:hover{
	scale: 1.09;
	font-style: italic;
}

a:active{
	rotate: 30deg;
}
