* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
		font-family: 'Imposs'; 
		src: url('../imposs.woff') format('woff');
}

body {
	font-family: serif;
	background-image: url("../texture4.png");
	background-position: center;
	background-size: cover;
	background-color: hsl(216deg, 100%, 90%);
	height: 100dvh; 
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.notes{
	display: flex;
	gap: 25px;
	font-family: 'Imposs';
	font-size: 38px;
}

/* for each individual note?
.notes:hover{
	rotate: 15deg;
} */

.numbers{
	display: flex;
	gap: 41px;
	font-family: serif;
	font-style: italic;
	font-size: 15px;
}

h1 {
	text-align: center;
	font-family: 'Imposs';
	margin: 10px auto;
	position: relative;
	top: 30px;
	padding: 1%;
	font-size: 38px;
	font-style: normal;
}

nav{
	display: flex;
	gap: 20px;
	flex-direction: row;
}

a{
	text-decoration: none;
	color: black;
	transition: scale .3s, rotate .4s;
	}

a:hover{
	scale: 1.09;
	font-style: italic;
}

a:active{
	rotate: 30deg;
}
